.Staff_Augmentation {
    width: 90%;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.Staff_Augmentation .Staff_Augmentation_inr {
    width: fit-content;
    margin: auto;
}
.Staff_Augmentation .Staff_Augmentation_inr h2 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-size: 35px;
    color: #100F0F;
    margin: 1rem 0;
}
/* List */
.Staff_Augmentation .Staff_Augmentation_s_listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 5rem 0;
}
.Staff_Augmentation .Staff_Augmentation_s_listing .list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 25px;
    transition: .3s ease-in-out;
}
.Staff_Augmentation .Staff_Augmentation_s_listing .list:hover {
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.10);
}
.Staff_Augmentation .Staff_Augmentation_s_listing .list h3 {
    font-size: 22px;
    color: #3B18B8;
}
.Staff_Augmentation .Staff_Augmentation_s_listing .list p {
    font-size: 20px;
    color: #100F0F;
}