.service_listing {
    width: 100%;
}

.service_listing .inr_listing {
    width: 90%;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.service_listing .inr_listing .upr_part {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.service_listing .inr_listing .upr_part h1 {
    font-size: 30px;
    color: #4719AA;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    gap: 1rem;
    margin-top: 3rem;

}

.service_listing .inr_listing .upr_part h1 .color {
    max-width: 350px;
    height: 15px;
}


.service_listing .inr_listing .upr_part p {
    font-size: 20px;
    color: #000000;
}

.service_listing .inr_listing .s_listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    grid-gap: 30px;
    margin: 5rem 0;
}

.service_listing .inr_listing .s_listing .list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.10);
}

.service_listing .inr_listing .s_listing .list .upr1 {
    padding: 1rem;
    border-radius: 5px;
    width: fit-content;
    background: #FDF3F3;
}

.service_listing .inr_listing .s_listing .list h1 {
    font-size: 25px;
    color: #100F0F;
}

.service_listing .inr_listing .s_listing .list .lwr1 {
    height: 10px;
    width: fit-content;
}

.service_listing .inr_listing .s_listing .list p {
    font-size: 15px;
    color: #100F0F;
}

.service_listing .inr_listing .viewAll_btn {
    padding: .5rem 2rem;
    outline: none;
    border: none;
    border-radius: 45px;
    color: white;
    width: fit-content;
    height: fit-content;
    margin:0 auto 2rem auto;
    text-align: center;
    background: #4719AA;
}