@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


.banner_it {
    width: 100%;
    min-height: 400px;
    background: #A74FF9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.banner_it .upr {
    width: 90%;
    max-width: 1320px;
    display: flex;
    margin: auto;
}

.banner_it .upr .bnrimg {
    aspect-ratio: 6/4;
    object-fit: contain;
    width: fit-content;
    margin: 1rem 0 5rem 0;
}

.banner_it .upr .txt {
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}

.banner_it .upr .txt h1 {
    color: #FFF;
    font-size: 52.5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.625px;
}

.banner_it .upr .txt p {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 157%;
}

.banner_it .upr .txt p span {
    color: #79E7FF;
}

.banner_it .cross {
    position: absolute;
    rotate: 2deg;
    background: #883FE7;
    min-height: 120px;
    width: 110%;
    max-width: 3400px;
    bottom: 0;
    margin: auto;
}

.banner_it .cross1 {
    position: absolute;
    rotate: -2deg;
    background: #883FE7;
    min-height: 120px;
    max-width: 3400px;
    width: 110%;
    bottom: 0;
}

.banner_it .numbering {
    position: absolute;
    width: 85%;
    margin: auto;
    max-width: 1320px;
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
    bottom: 0;
    padding: 1rem 0;
}

.banner_it .numbering .num {
    display: flex;
    gap: .4rem;
    align-items: flex-end;
}

.banner_it .numbering .num .numin {
    height: 50px;
    margin-bottom: 1.5rem;
}

.banner_it .numbering .num p {
    font-size: 15px;
    color: #FAFAFA;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width:1513px) {
    .banner_it .cross {
        height: 230px;
    }

    .banner_it .cross1 {
        height: 230px;
    }

    .banner_it .upr {
        width: 90%;
        margin: 0 auto 8rem;
    }

}

@media screen and (max-width:1513px) {
    .banner_it .upr {
        width: 90%;
        margin: 0 auto 10rem;
    }

}

@media screen and (max-width:965px) {
    .banner_it .upr {
        display: flex;
        flex-direction: column;
    }
    .banner_it .upr .bnrimg {
        margin: auto;
    }

    .banner_it .upr .txt {
        padding: 2rem;
        width: 100%;
        word-wrap: break-word;
    }

    .banner_it .upr .txt {
        width: 95%;
    }
}

@media screen and (max-width:738px) {
    .banner_it .cross {
        height: 420px;
    }

    .banner_it .cross1 {
        height: 420px;
    }

    .banner_it .upr {
        width: 90%;
        margin: 0 auto 19rem;
    }
}

@media screen and (max-width:553px) {
    .banner_it .upr .bnrimg {
        height: auto;
        width: 100%;
        margin-bottom: 5rem;
    }

    .banner_it .cross {
        height: 470px;
    }

    .banner_it .cross1 {
        height: 470px;
    }

    .banner_it .upr {
        width: 90%;
        margin: 0 auto 22rem;
    }

    .banner_it .upr .txt {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    .banner_it .upr .txt h1 {
        font-size: calc(1.625rem + 3.5vw);
    }

    .banner_it .upr .txt p {
        font-size: calc(1.265rem + 0.18vw);
    }

}